apply plugin: 'java'
apply plugin: 'war'
apply plugin: 'eclipse'
apply plugin: 'cargo'

//task wrapper(type: Wrapper) {gradleVersion = '1.10'}

sourceCompatibility = 1.7


buildscript {
    repositories {
        jcenter()
    }
    dependencies {
        classpath 'org.gradle.api.plugins:gradle-cargo-plugin:1.5.1'
    }
}

configurations {
    extraStuff
}

repositories {
    mavenCentral()
    flatDir { dirs "lib" }
}

dependencies {
	testCompile group: 'junit', name: 'junit', version: '4.+'

	providedCompile 'org.apache.tomcat:tomcat-servlet-api:7.0.37'
    
//    runtime ('com.wordnik:swagger-annotations:1.3.2') { transitive = false }
//    runtime ('com.wordnik:swagger-core_2.10:1.3.2') { transitive = false }
//    runtime ('com.wordnik:swagger-jaxrs_2.10:1.3.2') { transitive = false }
//    runtime ('com.wordnik:swagger-jersey-jaxrs_2.10:1.3.2') { transitive = false }  
    
//    extraStuff ('com.wordnik:swagger-annotations:1.3.2') 
//    extraStuff  ('com.wordnik:swagger-core_2.10:1.3.2')
//    extraStuff  ('com.wordnik:swagger-jaxrs_2.10:1.3.2') 
//    extraStuff  ('com.wordnik:swagger-jersey-jaxrs_2.10:1.3.2')
    
    providedCompile 'com.google.code.gson:gson:2.2.4'
//    providedCompile 'javax.persistence:persistence-api:1.0'
//    providedCompile 'com.sun.jersey:jersey-json:1.13'
//    providedCompile 'mysql:mysql-connector-java:5.1.26'
    providedCompile "javax.ws.rs:jsr311-api:1.1.1"
//    providedCompile 'com.sun.jersey:jersey-server:1.13'
//    providedCompile 'com.sun.jersey:jersey-core:1.13'
//    providedCompile 'com.sun.jersey:jersey-servlet:1.13'

}

test {
    systemProperties 'property': 'value'
}

uploadArchives {
    repositories {
       flatDir {
           dirs 'repos'
       }
    }
}

//sourceSets.main {
//    compileClasspath = configurations.compile//WithExtraStuff
//}

//Include extraStuff for compilation
sourceSets.main.compileClasspath += configurations.extraStuff

// optional: if using 'eclipse' plugin
eclipse {
  classpath {
    plusConfigurations += configurations.extraStuff
  }
}

cargo {
    containerId = 'tomcat7x'
    port = 8081
    deployable {
        context = 'TethysLDAPConnector'
    }
    remote {
        hostname = 'localhost'
        username = 'superuser'
        password = 'supersecret'
    }
}