<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	id="WebApp_ID" 
	version="2.5">
	
	<display-name>de.dbis.acis.cloud.TethysLDAPConnector</display-name>
	<servlet>
		<servlet-name>TethysLDAPConnector</servlet-name>
    	<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
<!-- 		<init-param>
      		<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>de.dbis.acis.cloud.Tethys;com.wordnik.swagger.sample.util;com.wordnik.swagger.jersey.listing</param-value>
		</init-param> -->
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>TethysLDAPConnector</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
<!--	<servlet>
  <servlet-name>JerseyJaxrsConfig</servlet-name>
...   <servlet-class>com.wordnik.swagger.jersey.config.JerseyJaxrsConfig</servlet-class> ...
  <servlet-class> com.wordnik.swagger.jaxrs.config.DefaultJaxrsConfig</servlet-class>
  <init-param>
    <param-name>api.version</param-name>
    <param-value>1.0.0</param-value>
  </init-param>
  <init-param>
    <param-name>swagger.api.basepath</param-name>
    <param-value>http://137.226.58.11:8081/Tethys</param-value>
  </init-param>
  <init-param>
      <param-name>swagger.filter</param-name>
      <param-value>de.dbis.acis.cloud.Tethys.util.InternalSwaggerFilter</param-value>
    </init-param>
  <load-on-startup>1</load-on-startup>
</servlet>-->

<filter>
  <filter-name>CorsFilter</filter-name>
  <filter-class>de.dbis.acis.cloud.TethysLDAPConnector.util.CORSFilter</filter-class>
</filter>
<filter-mapping>
  <filter-name>CorsFilter</filter-name>
  <url-pattern>/*</url-pattern>
</filter-mapping>


</web-app>
